* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #3a76cb;
  color: #f9f871;
  align-items: center;
  width: 100%;
  display: flex;
  height: 50px;
  position: fixed;
  justify-content: space-around;
}

.logo {
  width: 70px;
  height: 70px;
}

.link-format {
  text-decoration: none;
  color: #f9f871;
}